


<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="h-m h-fw-1 news__heading text-center">Quick Links</h1>
      <span class="partition text-center"></span>
			<div id="quickLinks" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#quickLinks" data-slide-to="0" class="active"></li>
				<li data-target="#quickLinks" data-slide-to="1"></li>

			</ol>
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div class="col-sm-3">
								<img src="../../../assets/images/ministry_of_finance.png">
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
									<img src="../../../assets/images/bon.png">
							</div>
						</div>
						<div class="col-sm-3">
									<img src="../../../assets/images/ministry_of_finance.png" >
						</div>
						<div class="col-sm-3">
							<img src="../../../assets/images/bon.png">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-sm-3">
								<img src="../../../assets/images/ministry_of_finance.png">
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
									<img src="../../../assets/images/ministry_of_finance.png">
							</div>
						</div>
						<div class="col-sm-3">
									<img src="../../../assets/images/ministry_of_finance.png" >
						</div>
						<div class="col-sm-3">
							<img src="../../../assets/images/ministry_of_finance.png">
						</div>
					</div>
				</div>

			</div>
			<!-- Carousel controls -->
			<a class="carousel-control-prev" href="#quickLinks" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control-next" href="#quickLinks" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		</div>
	</div>
</div>
</body>
