
<div class="row no-gutter" >
    <div class="home-intro">
        <img src="assets/images/cubes-2492010_1920.jpg" alt=""> 
        <div class="appOverlay"></div> 
    </div>
  </div>
  <section>
<div class="body-section">
    <div class="heading-container">
        <h1 class="h-m h-fw-1 news__heading">Find all the received internship post for your institution</h1>
    </div>
    <div class="col-12">
      <div class="row">
        
        <table mdbTable striped="true" id="example" class="table table-striped table-bordered" style="width:100%" st-table="display_users"
        st-safe-src="Users">
            <thead>
                <tr>
                    <th colspan="7">
                        <input st-search placeholder="Search internship using date received" class="input-sm form-control" type="search" style="font-size: 1rem;"
                        [(ngModel)]="search" />
                    </th>
                  </tr>
              <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in display_records" style="font-weight: bold;">
                <th>Position name</th>
                <th>Company offering Internship</th>
                <th>Town or city</th>
                <th>No of Position</th>
                <th>Institution Name</th>
                <th>Date Received</th>
                <th>Closing Date</th>
                <th>Document</th>
                <th hidden>Email</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let internship of internships | searchdateReceived: search ; let i = index">
                    <td>{{ internship.internships_name }}</td>
                    <td>{{ internship.company }}</td>
                    <td>{{ internship.town_city }}</td>
                  
                    <td>{{ internship.no_of_internship}}</td>
                    <td>{{ internship.institution}}</td>
                    <td>{{ internship.date_received }}</td>
                    <td>{{ internship.closing_date }}</td>
                    <td>{{internship.pdf_file}}
                      <!-- <a class="job-listings" target="_blank" href="assets/documents/companies/{{internship.pdf_file}}" 
                      *ngFor="let internship of Internships"  let i = index>Download</a> -->
                    </td>
                    <td hidden>{{ internship.company_email}}</td>
      
                    <td>
                    <div class="btn-group " role="group" aria-label="...">
                      <!-- <button type="button" class="btn btn-info" (click)="viewRecord(admin)"
                        ngbTooltip="View Details?" style="float: right;">
                        <i class="fa fa-search"> </i>
                      </button> -->
                      <button type="button" class="btn btn-default" (click)="editRecord(internship)"
                        ngbTooltip="Submit student names?">
                        <i class="fa fa-pencil-square-o"> </i>
                      </button>
                    </div>
                  </td>
                
                  </tr>
            </tbody>
          </table>

        <!-- </div> -->
    </div>
    </div>
</div>
</section>