<div class="row no-gutter">
    <div class="home-intro">
        <img src="assets/images/pexels-christina-morillo-1181273.jpg" alt="">
                <div class="appOverlay"></div> 
    </div>
  </div>
<div class="section" style="margin-top: 5%;" id="about">
    <div class="container" style="margin-top: 50px; margin-bottom:50px;">
        <div class="row">
            <div class="col-sm-12">
              <div class="heading-container">
                <h1 class="h-m h-fw-1 news__heading ">About NIP</h1>
                <span class="partition"></span>
                <!-- <p>You can download some of the important documents listed below. You can also view all the documents <a
                    style="color: var(--color-primary); cursor: pointer;">here</a>;</p> -->
              </div>
            </div>
          </div>
      <div class="row display-flex-center ">
        <div class="col-md-6 col-xs-12">
          <img src="./assets/images/aboutus1.jpg" data-aos="zoom-in-down" class="center-block img-responsive">
        </div>
        <div class="col-md-6 col-xs-12">
          <h1 class="text-left"></h1>
          <p class="text-justify">17 June 2019 – Windhoek – In what is Namibia’s first national revolution for education internships program, 
            minister of High Education, Training and Innovation, Dr. Itah Kandji-Murangi on Monday, 17 June 2019 officially launched the MTC 
            Namibia National Internship Program in Windhoek. <br> The internship program is a three-year long initiative which marks a new and 
            promising dawn in the Namibian academic sphere. Key focus is to assist students that require internships to graduate and subsequently 
            create job ready and experienced graduates. Parallel to this objective, the program will hence be assisting institutions of high learning 
            to find internship placements for students and in the long run accelerate job creation amongst the youth. 

            At the launch, MTC’s Board Chairperson Elvis Nashilongo echoed the sentiments of students who are often turned away by employers due to a lack of experience. </p>
        </div>
      </div>
      <div class="row" style="margin-top:20px; margin-bottom: 20px;">
        <div class="col-md-12 col-xs-12">
          <p class="text-justify">“We call on employers to drop the mantra of demanding work experience from interns. No one was born with experience 
            and such a practice impedes development and social progress,” said Nashilongo, adding that the MTC Namibia National Internship Program is 
            directed towards strengthening this collaboration between institutions of higher learning and corporate Namibia.&nbsp;
            <br>
            <br>The Program will accommodate 160 interns per year that will be placed at various public and private institutions. MTC will pay an allowance of N$3000 
            per student over a period of 3 months, and where a student requires six months internship, an amount of N$1500 will be paid. </p>
        </div>
      </div>
      <div class="row display-flex-center ">
        <div class="col-md-6 col-xs-12">
          <p class="text-justify">The launched revealed 22 partner organizations who will be taking on the 160 students. Three other organizations pledged interest at the launch. 
            To ensure the effective management and administration of the program, a steering committee is set up and will assist in the placement of students and serve as 
            liaison go-between students and corporates.  &nbsp;
            <br>The education institutions participating in the MTC Namibia National Internship program are University of Namibia (UNAM), Namibia University of Science and Technology (NUST), 
            International University of Management (IUM), Namibian Institute of Mining and Technology (NIMT) and vocation training centers through the Namibia Training Authority (NTA). 
            <br>
            </p>
        </div>
        <div class="col-md-6 col-xs-12">
          <img src="./assets/images/aboutus2.jpg" data-aos="zoom-in-down" class="center-block img-responsive" style="margin-top: 0rem;">
        </div>
      </div>
    </div>
  </div>