<div class="no-gutter">
    <div class="home-intro">
        <img src="assets/images/cubes-2492010_1920.jpg" alt=""> 
        <div class="appOverlay"></div> 
    </div>
  </div>
  <section class="company">

    <div class="container">

        <div class="well ">
            
          </div>
          <br />
          <div class="heading-container">
        <h2 class="h-m h-fw-1 news__heading">Welcome to Companies Dashboard</h2>    
        <a type="button" class="btn-get-started scrollto" data-toggle="tooltip" title="Use this tab to open a form to fill and send the new internship posts available" (click)="sendAvailableInternships(this.companyData)">
              Send New Post(s)</a>&nbsp;
        </div>
     

      <div class="row">


        <div class="col-md-6 md-4" >
            <a [routerLink]="'/companystudentlist'" data-toggle="tooltip" placement="top" title="Click on this tab to view the student who were submitted to your company for the internship post and update if they are admitted or not">

            <div class="card text-center h-100 card-info"  >
                <div class="card-body blue-gradient" >
                    <h2 class="card-title">Company Intern students</h2>
                    <h3><i class="fa fa-female fa-2x"></i> <i class="fa fa-male fa-2x" style="margin-left: 2rem;"></i></h3>
                </div>
                <div class="row p-2 no-gutters rounded" >
                    <div class="col-4 rounded">
                        <div class="card card-block text-info rounded-0 border-left-0 border-right-0 border-top-0 border-bottom-0">

                            <div *ngFor=" let student of students"  let i = index>
                            <h4>Total received</h4>
                            
                            <h4 class="medium text-uppercase">{{student.total_received}}</h4>
                        </div>

                
                        </div>
                    </div>
                    <div class="col-4 rounded">
                        <div class="card card-block text-info rounded-0 border-right-0 border-top-0 border-bottom-0">
                            <div *ngFor=" let student of pending"  let i = index>
                            <h4>Total Pending</h4>
                            <h4 class="medium text-uppercase"> {{student.total_pending}} </h4>
                        </div>
                    </div>
                    </div>
                    <div class="col-4 rounded">
                        <div class="card card-block text-info rounded-0 border-right-0 border-top-0 border-bottom-0">
                            <div *ngFor=" let student of interns"  let i = index>
                                <h4>Total not Admitted</h4>
                                <h4 class="medium text-uppercase"> {{student.total_not_admitted}} </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </a>

      </div>


        <div class="col-md-6 md-4" >
            <a [routerLink]="'/internships'" data-toggle="tooltip" placement="top" title="This tab shows the different internship requests from different companies and organizations" >

            <div class="card text-center h-100 card-info"  >
                <div class="card-body blue-gradient">
                    <h2 class="card-title">Organizations and companies who have offered</h2>
                    <h3><i class="fa fa-building fa-2x"></i></h3>
                </div>
                <div class="row p-2 no-gutters rounded" >
                    <div class="col-6 rounded">
                        <div class="card card-block text-info rounded-0 border-left-0 border-right-0 border-top-0 border-bottom-0">
                            
                            <div *ngFor="let totalInternship of totalInternships"  let i = index>
                                <h4>Total Internship requests</h4>
                            
                              <h4> {{totalInternship.total_internship}} </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 rounded">
                        <div class="card card-block text-info rounded-0 border-right-0 border-top-0 border-bottom-0">
                            <h4>Total Internship Positions</h4>                      
                            <div *ngFor="let totalInternship of totalInternshipPosts"  let i = index>
                            
                              <h4> {{totalInternship.total_internship_posts}} </h4>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
          </a>

      </div>
        </div>



        <div class="row">


            <div class="col-md-6 md-4" >
                <a [routerLink]="'/admittedCompletedStudentInterns'" data-toggle="tooltip" placement="top" title="Click on this button to submit the report of all the interns who have completed">
    
                <div class="card text-center h-100 card-info"  >
                    <div class="card-body blue-gradient" >
                        <h2 class="card-title" >Students</h2>
                        <h3><i class="fa fa-envelope-square fa-2x"></i></h3>
                    </div>
                    <div class="row p-2 no-gutters rounded" >
                        <div class="col-6 rounded">
                            <div class="card card-block text-info rounded-0 border-left-0 border-right-0 border-top-0 border-bottom-0">
                                
                                <div *ngFor="let student of admitted"  let i = index>
                                    <h4>Total Admitted</h4>
                                
                                  <h4> {{student.total_admitted}} </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 rounded">
                            <div class="card card-block text-info rounded-0 border-right-0 border-top-0 border-bottom-0">
                                <h4>Total Completed</h4>                      
                                
                                  <h4>  <h3> {{number}}  </h3> </h4>
                                
                            </div>
                        </div>

                    </div>
                </div>
              </a>
    
          </div>
    
    
            <div class="col-md-6 md-4">
                <a [routerLink]="'/CompanyAndInstitutionsReport'" data-toggle="tooltip" placement="top"  title="Use this tab to view the total number of students per institution and organization">
    
                <div class="card text-center h-100 card-info"  >
                    <div class="card-body blue-gradient" >
                        <h2 class="card-title">Student per organization and institution</h2>
                        <h3><i class="fa fa-building fa-2x"></i></h3>
                    </div>
                    <div class="row p-2 no-gutters rounded" >
                        <div class="col-12 rounded">
                            <div class="card card-block text-info rounded-0 border-right-0 border-top-0 border-bottom-0">
                                <h3>View the names</h3>
                                <span class="small text-uppercase">Total</span>
                            </div>
                        </div>
                    </div>
                </div>
              </a>
    
          </div>
            </div>

        </div>
</section>