
<head>
  
    <script src="https://kit.fontawesome.com/dd8c49730d.js" crossorigin="anonymous"></script>
    <script src="/assets/js/main.js">
  </script>
  </head>

  <body>
<div class="forgot-password">
    <div class="content">
      <img class="signin-logo" src="../../../assets/images/Mtc Namibia National Internship Program Logo.png">
      <div class="title text-center">Reset password</div>
      <!-- <app-error-message [obs]="errorMessage"></app-error-message> -->
      <form>
        <div class="email-block">
            <input type="email" placeholder="Email Address" id="email" formControlName="email"/>
            <div class="error" *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched ">
              <div class="email-error text-red text-center" *ngIf="emailForm.get('email')?.errors?.email" >
                Please enter a valid email
              </div>
              <div class="username-req-error text-red text-center" *ngIf="emailForm.get('email')?.errors?.required">
                Email is required
              </div>
              </div>
        </div>
  
        <button class="btn btn-center" type="submit" (click)="sendEmail()" >Send reset email</button>
      </form>
    </div>
  </div>
  
</body>