<div class="row no-gutter">
    <div class="home-intro">
        <img src="assets/images/pexels-keira-burton-6147408.jpg" alt=""> 
        <div class="appOverlay"></div> 
    </div>
</div>

  <section>
    <div class="container" style="margin-top: 50px; margin-bottom:50px;">
        <div class="row">
            <div class="col-sm-12">
              <div class="heading-container">
                <h1 class="h-m h-fw-1 news__heading ">NIP Frequently Asked Questions</h1>
                <span class="partition"></span>
                <p>You can get some answers to some common frequently asked question below. Feel free to <a
                    style="color: var(--color-primary); cursor: pointer;">connect</a> with us if you have any other questions;</p>
              </div>
            </div>
          </div>
      </div>

      <div class="faq container mt-5 mb-5" >
     
        <div>
          <accordion class="accordion-custom faq-question" [isAnimated]="true">
            <accordion-group>
              <button type="submit" class="faq-title-question d-flex align-items-center" accordion-heading>
                <div>
                  <span>
                    What is NIP?
                  </span>
                  <i class="fa fa-angle-down"></i>
                </div>
              </button>
              <div class="faq-question-answer">The internship program is a three-year long initiative which marks a new and promising 
                  dawn in the Namibian academic sphere. Key focus is to assist students that require internships to graduate and subsequently 
                  create job ready and experienced graduates. Parallel to this objective, the program will hence be assisting institutions of 
                  high learning to find internship placements for students and in the long run accelerate job creation amongst the youth.</div>
            </accordion-group>
            <accordion-group>
              <button type="submit" class="faq-title-question d-flex align-items-center" accordion-heading>
                <div>
                  <span>
                    When was the National Internship Project initiated?
                  </span>
                  <i class="fa fa-angle-down"></i>
                </div>
              </button>
              <div class="faq-question-answer">The National Internship Program was initiated in 2019. On 17 June 2019, MTC officially launched the
                Namibia National Internship Program in Windhoek.</div>
            </accordion-group>
            <accordion-group>
              <button type="submit" class="faq-title-question d-flex align-items-center" accordion-heading>
                <div>
                  <span>
                    How does NIP work?
                  </span>
                  <i class="fa fa-angle-down"></i>
                </div>
              </button>
              <div class="faq-question-answer">The Program will accommodate 160 interns per year that will be placed at various public and private institutions. 
                  MTC will pay an allowance of N$3000 per student over a period of 3 months, and where a student requires six months internship, an amount of N$1500 will be paid.</div>
            </accordion-group>
            <accordion-group>
              <button type="submit" class="faq-title-question d-flex align-items-center" accordion-heading>
                <div>
                  <span>
                    How much do you get paid when doing an internship?
                  </span>
                  <i class="fa fa-angle-down"></i>
                </div>
              </button>
              <div class="faq-question-answer">MTC will pay an allowance of N$3000 
                per student over a period of 3 months, and where a student requires six months internship, an amount of N$1500 will be paid.</div>
            </accordion-group>
            <accordion-group>
              <button type="submit" class="faq-title-question d-flex align-items-center" accordion-heading>
                <div>
                  <span>
                    Which institutions are part of the NIP?
                  </span>
                  <i class="fa fa-angle-down"></i>
                </div>
              </button>
              <div class="faq-question-answer">The education institutions participating in the MTC Namibia National Internship program are:
                <ol>
                    <li>International University of Management (IUM)</li>
                    <li>Namibia University of Science and Technology (NUST)</li>
                    <li>Namibian Institute of Mining and Technology (NIMT)</li>
                    <li>University of Namibia (UNAM)</li>
                    <li>Vocation Training Centers(VTC) through the Namibia Training Authority (NTA)</li>
                </ol>
              </div>
            </accordion-group>
          </accordion>
        </div>
      </div>
  </section>
