<div class=" no-gutter">
    <div class="home-intro">
        <img src="assets/images/cubes-2492010_1920.jpg" alt=""> 
        <div class="appOverlay"></div> 
    </div>
  </div>
<div class="admin-dashboard">

               <!-- <div class="container"> -->
                <div class="heading-container">
                   <h1 class="h-m h-fw-1 news__heading">The Admin Dashboard</h1>
                   <span class="partition"></span>
                 </div>
                 <!--Grid row-->
                 <div class="row">


           <div class="col-md-6 mb-6" >
             <a [routerLink]="'/internships'" data-toggle="tooltip" placement="top" title="Use this function to send the available internships to different institutions">

             <div class="card text-center h-100 card-info"  >
                 <div class="card-body blue-gradient" >
                     <h2 class="card-title">New Internships</h2>
                     <h3><i class="fa fa-list fa-2x"></i></h3>
                 </div>
                 <div class="row p-2 no-gutters rounded" >
                     <div class="col-6 rounded">
                         <div class="card card-block text-info rounded-0 border-left-0 border-right-0 border-top-0 border-bottom-0">
                             <h3>Posts</h3>
                             <span class="small text-uppercase">from Companies</span>
                         </div>
                     </div>
                     <div class="col-6 rounded">
                         <div class="card card-block text-info rounded-0 border-right-0 border-top-0 border-bottom-0">
                             <h3>Submit</h3>
                             <span class="small text-uppercase">to institutions</span>
                         </div>
                     </div>
                 </div>
             </div>
           </a>

       </div>

       

           <div class="col-md-6 mb-6" >
             <a [routerLink]="'/studentlist'" data-toggle="tooltip" placement="top" title="All students who were offered and still to be offered internships">

             <div class="card text-center h-100 card-info"  >
                 <div class="card-body blue-gradient" >
                     <h2 class="card-title">Interns</h2>
                     <h3><i class="fa fa-users fa-2x"></i></h3>
                 </div>
                 <div class="row p-2 no-gutters rounded" >
                     <div class="col rounded">
                         <div class="card card-block text-info rounded-0 border-left-0 border-right-0 border-top-0 border-bottom-0">
                             <h3>All students</h3>
                             <span class="small text-uppercase">to be captured and all completed.</span>
                         </div>
                     </div>
                     <!-- <div class="col-6 rounded">
                         <div class="card card-block text-info rounded-0 border-right-0 border-top-0 border-bottom-0">
                             <h3>30%</h3>
                             <span class="small text-uppercase">savings</span>
                         </div>
                     </div> -->
                 </div>
             </div>
           </a>

       </div>
          
          

           <div class="col-md-6 mb-6" style="margin-top: 3rem;" >
             <a [routerLink]="'/institution-sent-internship'" data-toggle="tooltip" placement="top" title="Use this function to view all sent internships to institutions">

             <div class="card text-center h-100 card-info"  >
                 <div class="card-body blue-gradient" >
                     <h2 class="card-title">All internship Posts</h2> 
               <h3><i class="fa fa-database fa-2x"></i><i class="fa fa-folder-open fa-2x" style="margin-left: 2rem;"></i></h3>
                  
                 </div>
                 <div class="row p-2 no-gutters rounded" >
                     <div class="col rounded">
                         <div class="card card-block text-info rounded-0 border-right-0 border-top-0 border-bottom-0">
                             <h3>Data</h3>
                             <span class="small text-uppercase">sent to institutions</span>
                         </div>
                     </div>
                 </div>
             </div>
           </a>

       </div>

           <div class="col-md-6 mb-6" style="margin-top: 3rem;" >
             <a  [routerLink]="'/CompanyAndInstitutionsReport'" placement="top" ngbTooltip="All students who were offered and still to be offered internships">

             <div class="card text-center h-100 card-info"  >
                 <div class="card-body blue-gradient" >
                     <h2 class="card-title">Universities</h2>
                     <h3><i class="fa fa-university fa-2x" ></i></h3>
                 </div>
                 <div class="row p-2 no-gutters rounded" >
                     <div class="col rounded">
                         <div class="card card-block text-info rounded-0 border-left-0 border-right-0 border-top-0 border-bottom-0">
                             <h3>Institutions</h3>
                             <span class="small text-uppercase">dashboards and progress.</span>
                         </div>
                     </div>
                     <!-- <div class="col-6 rounded">
                         <div class="card card-block text-info rounded-0 border-right-0 border-top-0 border-bottom-0">
                             <h3>30%</h3>
                             <span class="small text-uppercase">savings</span>
                         </div>
                     </div> -->
                 </div>
              
             </div>
           </a>

       </div>
   
 
     </div>
   <!-- </div> -->

</div>
  
