<div class="row no-gutter">
    <div class="home-intro">
        <img src="assets/images/cubes-2492010_1920.jpg" alt=""> 
        <div class="appOverlay"></div> 
    </div>
  </div>
  <section>
<div class="body-section">
    <div class="heading-container">
    <h1 class="h-m h-fw-1 news__heading">All National Internship Program Interns, to be updated and the one who are not admitted </h1>
</div>
    <div class="col-12">
      <h1>List of students to be updated as admitted or not</h1>

      <div class="row">
        <!-- <div class="col-md-12 col-sm-12"> -->
            
        <table *ngIf="students.length" mdbTable striped="true" id="example" class="table table-striped table-bordered" style="width:100%" st-table="display_users"
        st-safe-src="Users">
            <thead>
                <tr>
                    <th colspan="7">
                      <input st-search placeholder="Search student using institution name" class="input-sm form-control" type="search"
                        [(ngModel)]="search" />
                    </th>
                  </tr>
              <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in display_records" style="font-weight: bold;">
                <th>Organization/ company and town</th>
                <th> Contact person</th>
                <th> Internship Request</th>
                <th>student fullname</th>
                <th>Student number</th>
                <th>Institution</th>
                <th>Field of Study</th>
                <th>Student phone number and email</th>
                <th>Student documents</th>

                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students | searchInstitution: search; let i = index">
               
                <td>{{student.company}}, {{student.town_city}}</td>
                <td>{{student.company_email}}</td>
                <td>{{student.internships_name}}</td>
                <td>{{student.firstname}} {{student.surname}}</td>
                <td>{{student.student_number}}</td>
                <td>{{student.institution}}</td>
                <td>{{student.field_of_study}}</td>
                <td>{{student.student_email}}, {{student.student_phoneNumber}}</td>
                <td>{{student.student_document}} 
                  
                  <a (click)="download(student.student_document)" class="btn">Download</a>
  
                </td>

                <td hidden>{{student.idNo_or_passportNo}}</td>
                <td hidden>{{student.town_city}}</td>
                <td hidden>{{student.company_registrationNo}}</td>
                <td hidden>{{student.completion}}</td>
                <td hidden>{{student.admission}}</td>
                


                <td>
                  <div class="btn-group " role="group" aria-label="...">
                    <!-- <button type="button" class="btn btn-info" (click)="viewRecord(admin)"
                      ngbTooltip="View Details?" style="float: right;">
                      <i class="fa fa-search"> </i>
                    </button> -->
                    <button type="button" class="btn btn-default" (click)="editRecord(student)"
                    data-toggle="tooltip" placement="top" title="Click on this button to indicate if student is admitted or not.">
                      <i class="fa fa-pencil-square-o"> </i>
                    </button>
                  </div>
                </td>
  
              </tr>
            </tbody>
          </table>

          <div *ngIf="!students.length" style="height: 100%; padding: 2rem;">
            <h3 class="text-center">No student(s) sent from any institution(s) for an internship request</h3> 
          </div>
        </div>
    </div>


    <div class="col-12">
      <h1 style="margin-top: 5rem;">List of students who are not admitted</h1>
      <div class="row">
        <!-- <div class="col-md-12 col-sm-12"> -->
          
            
        <table *ngIf="interns.length" mdbTable striped="true" id="example" class="table table-striped table-bordered" style="width:100%" st-table="display_users"
        st-safe-src="Users">
            <thead>
                <tr>
                    <th colspan="7">
                      <input st-search placeholder="Search student using institution name" class="input-sm form-control" type="search"
                        [(ngModel)]="search" />
                    </th>
                  </tr>
              <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in display_records" style="font-weight: bold;">
                <th>Organization/ company and town</th>
                <th> Contact person</th>
                <th> Internship Request</th>
                <th>student fullname</th>
                <th>Student number</th>
                <th>Institution</th>
                <th>Field of Study</th>
                <th>Student phone number and email</th>
                <th>Student documents</th>

                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let intern of interns | searchInstitution: search; let i = index">
               
                <td>{{intern.company}}, {{student.town_city}}</td>
                <td>{{intern.company_email}}</td>
                <td>{{intern.internships_name}}</td>
                <td>{{intern.firstname}} {{intern.surname}}</td>
                <td>{{intern.student_number}}</td>
                <td>{{intern.institution}}</td>
                <td>{{intern.field_of_study}}</td>
                <td>{{intern.student_email}}, {{intern.student_phoneNumber}}</td>
                <td>{{intern.student_document}} 
                  
                  <a (click)="download(intern.student_document)">Download</a>
  
                </td>

                <td hidden>{{intern.idNo_or_passportNo}}</td>
                <td hidden>{{intern.town_city}}</td>
                <td hidden>{{intern.company_registrationNo}}</td>
                <td hidden>{{intern.completion}}</td>
                <td hidden>{{intern.admission}}</td>
                


                <td>
                  <div class="btn-group " role="group" aria-label="...">
                    <!-- <button type="button" class="btn btn-info" (click)="viewRecord(admin)"
                      ngbTooltip="View Details?" style="float: right;">
                      <i class="fa fa-search"> </i>
                    </button> -->
                    <button type="button" class="btn btn-default" (click)="editRecord(student)"
                    data-toggle="tooltip" placement="top" title="Click on this button to indicate if student is admitted or not.">
                      <i class="fa fa-pencil-square-o"> </i>
                    </button>
                  </div>
                </td>
  
              </tr>
            </tbody>
          </table>

          <div *ngIf="!interns.length" style="height: 100%; padding: 2rem;">
            <h3 class="text-center">Currently no student(s)</h3> 
          </div>
        </div>
    </div>
    <!-- </div> -->
</div>
</section>