<div class="no-gutter">
    <div class="home-intro">
        <img src="assets/images/cubes-2492010_1920.jpg" alt=""> 
        <div class="appOverlay"></div> 
    </div>
  </div>
 <div class="heading-container" style="margin-bottom: -5rem;margin-top: 3rem;">
        <h1 class="h-m h-fw-1 news__heading">Enter student details</h1>
        
        <span class="partition"></span><p style="z-index: 1 !important;">Use this form to submit details for student who qualify for the post</p>
      </div>
  <div class="container-fluid bg-lightest">
   
    <div class="row">
  
        <div class="col col-12 col-lg-7 col-xl-8 justify-content-center text-center form">
            <div class="mt-4">
                  
                <!--Create Profile Form-->
                <form [formGroup]="studentForm" (ngSubmit)="onSubmit($event)" class="text-left mt-4 offset-override">
  
            
                    <app-error-message [obs]="errorMessage"></app-error-message>
  
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6">
  
                        <!--First Name-->
                        <div class="form-group mb-3">
                            <label for="firstname" class="text-secondary">First Name <span class="text-danger">*</span></label>
                            <input type="text" required class="form-control primary-border" id="firstname" name="firstname"
                            formControlName="firstname" 
                            [ngClass]="{ 'is-invalid': submitted && f?.firstname?.errors, 'danger-border': submitted && f?.firstname?.errors }">
  
                            <div *ngIf="submitted && f?.firstname?.errors" class="invalid-feedback">
                                <div *ngIf="f?.firstname?.errors?.required">student name is required.</div>
                                <div *ngIf="f?.firstname?.errors?.pattern">Enter a valid firstname.</div>
                            </div>
                            </div>
                        </div>
  
                        <!--Industry-->
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="form-group mb-3">
                                <label for="surname" class="text-secondary">Surname <span class="text-danger">*</span></label>
                                <input type="text" required class="form-control primary-border" id="surname" name="surname"
                            formControlName="surname" 
                            [ngClass]="{ 'is-invalid': submitted && f?.surname?.errors, 'danger-border': submitted && f?.surname?.errors }">
                                <div *ngIf="submitted && f?.surname?.errors" class="invalid-feedback">
                                    <div *ngIf="f?.surname?.errors?.required">Student surname is required.</div>
                                    <div *ngIf="f?.surname?.errors?.pattern">Enter a valid surname.</div>
                                </div>
                            </div>
                        </div>
                    </div>



                    
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6">
  
                        <!--First Name-->
                        <div class="form-group mb-3">
                            <label for="idNo_or_passportNo" class="text-secondary">ID or passport number <span class="text-danger">*</span></label>
                            <input type="text" required class="form-control primary-border" id="idNo_or_passportNo" name="idNo_or_passportNo"
                            formControlName="idNo_or_passportNo" 
                            [ngClass]="{ 'is-invalid': submitted && f?.idNo_or_passportNo?.errors, 'danger-border': submitted && f?.idNo_or_passportNo?.errors }">
  
                            <div *ngIf="submitted && f?.idNo_or_passportNo?.errors" class="invalid-feedback">
                                <div *ngIf="f?.idNo_or_passportNo?.errors?.required">Student Identification or passport number is required.</div>
                                <div *ngIf="f?.idNo_or_passportNo?.errors?.pattern">Enter a valid ID or passport number.</div>
                            </div>
                            </div>
                        </div>
  
                        <!--Industry-->
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="form-group mb-3">
                                <label for="student_number" class="text-secondary">Student number <span class="text-danger">*</span></label>
                                <input type="text" required class="form-control primary-border" id="student_number" name="student_number"
                            formControlName="student_number" 
                            [ngClass]="{ 'is-invalid': submitted && f?.student_number?.errors, 'danger-border': submitted && f?.student_number?.errors }">
                                <div *ngIf="submitted && f?.student_number?.errors" class="invalid-feedback">
                                    <div *ngIf="f?.student_number?.errors?.required">Student number is required.</div>
                                    <div *ngIf="f?.student_number?.errors?.pattern">Enter a valid student number.</div>
                                    <div *ngIf="f?.student_number?.errors?.minlength">Minimum length of student number is 7 digits</div>

                                </div>
                            </div>
                        </div>
                    </div>


                    
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6">
  
                        <!--First Name-->
                        <div class="form-group mb-3">
                            <label for="student_phoneNumber" class="text-secondary">Student phone number <span class="text-danger">*</span></label>
                            <input type="text" required class="form-control primary-border" id="student_phoneNumber" name="student_phoneNumber"
                            formControlName="student_phoneNumber" 
                            [ngClass]="{ 'is-invalid': submitted && f?.student_phoneNumber?.errors, 'danger-border': submitted && f?.student_phoneNumber?.errors }">
  
                            <div *ngIf="submitted && f?.student_phoneNumber?.errors" class="invalid-feedback">
                                <div *ngIf="f?.student_phoneNumber?.errors?.required">Student phone number is required.</div>
                                <div *ngIf="f?.student_phoneNumber?.errors?.pattern">Enter a valid student phone number.</div>
                                <div *ngIf="f?.student_phoneNumber?.errors?.minlength">Enter a valid phone number</div>

                            </div>
                            </div>
                        </div>
  
                        <!--Industry-->
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="form-group mb-3">
                                <label for="student_email" class="text-secondary">Student email <span class="text-danger">*</span></label>
                                <input type="text" required class="form-control primary-border" id="student_email" name="student_email"
                            formControlName="student_email" 
                            [ngClass]="{ 'is-invalid': submitted && f?.student_email?.errors, 'danger-border': submitted && f?.student_email?.errors }">
                                <div *ngIf="submitted && f?.student_email?.errors" class="invalid-feedback">
                                    <div *ngIf="f?.student_email?.errors?.required">Student email address is required.</div>
                                    <div *ngIf="f?.student_email?.errors?.pattern">Enter a valid student email address.</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group mb-3">
                        <label for="field_of_study" class="text-secondary">Student field of study <span class="text-danger">*</span></label>
                        <input type="text" name="field_of_study" required formControlName="field_of_study" class="form-control primary-border"
                            [ngClass]="{ 'is-invalid': submitted && f?.field_of_study?.errors, 'danger-border': submitted && f?.field_of_study?.errors }">
  
                        <div *ngIf="submitted && f?.field_of_study?.errors" class="invalid-feedback">
                            <div *ngIf="f?.field_of_study?.errors?.required">Student field of study is required</div>
                            <div *ngIf="f?.field_of_study?.errors?.pattern">Enter a valid field of study.</div>
                        </div>
                    </div>
  
                    <!--address-->
                    <div class="form-group mb-3">
                        <label for="internships_name" class="text-secondary">Internship Post name <span class="text-danger">*</span></label>
                        <input type="text" name="internships_name" required formControlName="internships_name" class="form-control primary-border"
                            [ngClass]="{ 'is-invalid': submitted && f?.internships_name?.errors, 'danger-border': submitted && f?.internships_name?.errors }" readonly>
  
                        <div *ngIf="submitted && f?.internships_name?.errors" class="invalid-feedback">
                            <div *ngIf="f?.internships_name?.errors?.required">Internship post is required.</div>
                            <div *ngIf="f?.internships_name?.errors?.pattern">Enter a valid post.</div>
                        </div>
                    </div>
  
  
                  <!--phone-->
                  <div class="form-group mb-3">
                    <label for="institution" class="text-secondary">Institution name<span class="text-danger">*</span></label>
                    <input type="text" name="institution" required formControlName="institution" class="form-control primary-border"
                        [ngClass]="{ 'is-invalid': submitted && f?.institution?.errors, 'danger-border': submitted && f?.institution?.errors }" readonly>
  
                    <div *ngIf="submitted && f?.institution?.errors" class="invalid-feedback">
                        <div *ngIf="f?.institution?.errors?.required">Enter an institution is required.</div>
                        <div *ngIf="f?.institution?.errors?.pattern">Enter a valid institution name.</div>
                    </div>
                </div>
                <!--Image Upload-->
                    <div class="form-group mb-3">
                        <label for="student_document">Upload student (e.g resume, academic record, identity document as one document) PDF Document <span class="text-danger">*</span></label>
                        <br>
                        <label class="btn btn-secondary-light">
                            Browse <input type="file" name="student_document" hidden accept="application/pdf" formControlName="student_document"
                            (change)="selectImage($event)">
                        </label>
                        <span class="ml-2 f4 ">
                            {{ fileMessage }}
                        </span>
                        <div class="text-primary" *ngIf="!submitted || !f?.logo?.errors">
  
                        </div>

                                <!--Form Errors-->
                    <div *ngIf="submitted">
                        <div *ngIf="missingImage" class="alert alert-danger" role="alert">
                            Please upload a student documents for the post.
                        </div>
                        <div *ngIf="wrongType" class="alert alert-danger" role="alert">
                            Invalid file type.
                        </div>
                        <div *ngIf="sizeLimit" class="alert alert-danger" role="alert">
                            Maximum file size is 3MB.
                        </div>
                        <div *ngIf="maxUpload" class="alert alert-danger" role="alert">
                            You already uploaded.
                        </div>
                        <div *ngIf="otherErr" class="alert alert-danger" role="alert">
                            Unexpected Error.
                        </div>
                    </div>
                    </div>
                <!--company-->

                <div hidden class="form-group mb-3">
                    <label for="internship_id" class="text-secondary">internship id <span class="text-danger">*</span></label>
                    <input type="text" name="internship_id" readonly required formControlName="internship_id" class="form-control primary-border"
                        [ngClass]="{ 'is-invalid': submitted && f?.internship_id?.errors, 'danger-border': submitted && f?.internship_id?.errors }">
                 
                        <div *ngIf="submitted && f?.internship_id?.errors" class="invalid-feedback">
                            <div *ngIf="f?.internship_id?.errors?.required">Field internship id is required.</div>
                            <div *ngIf="f?.internship_id?.errors?.pattern">Enter a valid internship id.</div>
                        </div>
                   
                </div>
                <div class="form-group mb-3">
                  <label for="company" class="text-secondary">Company name<span class="text-danger">*</span></label>
                  <input type="text" name="company" required formControlName="company" class="form-control primary-border"
                      [ngClass]="{ 'is-invalid': submitted && f?.company?.errors, 'danger-border': submitted && f?.company?.errors }" readonly>
  
                  <div *ngIf="submitted && f?.company?.errors" class="invalid-feedback">
                      <div *ngIf="f?.company?.errors?.required">Email is required.</div>
                      <div *ngIf="f?.company?.errors?.pattern">Enter a valid company address.</div>
                  </div>
              </div>

              <div class="form-group mb-3">
                <label for="town_city" class="text-secondary">Town or City<span class="text-danger">*</span></label>
                <input type="text" name="town_city" required formControlName="town_city" class="form-control primary-border"
                    [ngClass]="{ 'is-invalid': submitted && f?.town_city?.errors, 'danger-border': submitted && f?.town_city?.errors }" readonly>

                <div *ngIf="submitted && f?.town_city?.errors" class="invalid-feedback">
                    <div *ngIf="f?.town_city?.errors?.required">Town or city name is required.</div>
                    <!-- <div *ngIf="f?.company?.errors?.pattern">Enter a valid company address.</div> -->
                </div>
            </div>

              <div class="form-group mb-3">
                <label for="company_email" class="text-secondary">Company email <span class="text-danger">*</span></label>
                <input type="text" name="company_email" required formControlName="company_email" class="form-control primary-border"
                    [ngClass]="{ 'is-invalid': submitted && f?.company_email?.errors, 'danger-border': submitted && f?.company_email?.errors }" readonly>
  
                <div *ngIf="submitted && f?.company_email?.errors" class="invalid-feedback">
                    <div *ngIf="f?.company_email?.errors?.required">Company email is required.</div>
                    <div *ngIf="f?.company_email?.errors?.pattern">Enter a  valid company email.</div>
                </div>
            </div>

             <!--company_registrationNo-->
             <div class="form-group mb-3">
                <label for="company_registrationNo" class="text-secondary">Company registration number<span class="text-danger">*</span></label>
                <input type="text" name="company_registrationNo" required formControlName="company_registrationNo" class="form-control primary-border"
                    [ngClass]="{ 'is-invalid': submitted && f?.company_registrationNo?.errors, 'danger-border': submitted && f?.company_registrationNo?.errors }" readonly>

                <div *ngIf="submitted && f?.company_registrationNo?.errors" class="invalid-feedback">
                    <div *ngIf="f?.company_registrationNo?.errors?.required">Company registration number is required.</div>
                    <div *ngIf="f?.company_registrationNo?.errors?.pattern">Enter a valid company registration number.</div>
                </div>
            </div>


            <div class="col-12">
                <div class="row aqua-gradient">
                  <div class="col-12">
                    <div *ngIf="showtoast">
                      <h3 id="toast">Student details successfully sent</h3>
                    </div>
                  </div>

                  <div class="col-12">
                    <div *ngIf="showtoast2" >
                      <h3 id="toast" >Something went wrong while sending student details</h3>
                    </div>
                  </div>
                </div>
              </div>
              
  
                    <!--SUBMIT-->
                    <div class="form-group mb-2">
                        <button [disabled]="loading || btnWait" class="btn btn-login btn-primary btn-block mt-4 py-3" ><span *ngIf="!loading" style="font-size: 2rem;">Submit student detail</span>
                        <div *ngIf="loading" class="spinner-border text-white" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        </button>
                    </div>
                    <div class="text-center ">By clicking this button, you agree to our <a [routerLink]="['/terms']" target="_blank" class="acolor"><span class="f4">Terms and Conditions</span></a></div>
  
                </form>
            </div>
        </div>
  
        <!--IMAGE-->
        <div class="col col-0 col-lg-5 col-xl-4 col-override p-0" style="min-height: 100vh;">
            <div class="landing-pic d-none d-lg-block d-xl-block"></div>
        </div>
    </div>
  </div>
  
  